$black-color: #040404;
$pin-color: #dc145c;
$pin-hover-color: #9b083d;

$white-color: #fff;
$gray-color: #e9f0f7;
$gray-title-color: #787880;

// media

$breakpoint_1920px: 1920px;
$breakpoint_1750px: 1750px;
$breakpoint_1250px: 1250px;
$breakpoint_1150px: 1150px;
$breakpoint_1050px: 1050px;
$breakpoint_900px: 900px;
$breakpoint_767px: 767px;
$breakpoint_625px: 625px;
$breakpoint_574px: 574px;
$breakpoint_480px: 480px;
$breakpoint_385px: 385px;

$desktop: 1440px;
$table: 767px;
$mobile: 420px;

// z-indexes

$contacts-z: 15;
$videoPlayer-z: 7;
$researcehs-z: 2;
$sticky-z: 8;
