@import '../../../styles/variables.module';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  height: 100px;
  position: absolute;
  width: 100%;
  bottom: 0;

  // @media screen and (max-width: $table) {
  //   display: none;
  // }
}
