@import '../../../styles/variables.module';

.content {
  max-width: 1950px;
  padding: 0 15px;
  margin: 0 auto;
  // background-color: #a01010;

  // @media screen and (max-width: $desktop) {
  //   max-width: 1230px;
  //   width: 100%;
  //   // padding: 0 15px;
  // }

  // @media screen and (max-width: $mobile) {
  //   max-width: 446px;
  //   padding: 0 16px;
  // }
}
