@import '../../../../../styles/variables.module';

.itemContainer {
  white-space: pre-wrap;
  color: $black-color;
  max-width: 407px;
  padding: 12px 16px;
  padding-bottom: 25px;
  border-radius: 12px;
  background: $gray-color;
  display: flex;

  @media screen and (max-width: 1720px) {
    width: 25vw;
    padding-bottom: 15px;
  }

  @media screen and (max-width: $desktop) {
    width: unset;
    max-width: 285px;
    padding-right: 0;
  }

  @media screen and (max-width: $breakpoint_1050px) {
    max-width: 250px;
    white-space: unset;
    padding-bottom: 10px;
  }

  @media screen and (max-width: $breakpoint_767px) {
    max-width: 100%;
    white-space: pre-wrap;
  }

  @media screen and (max-width: $mobile) {
    padding: 12px 14px;
    margin-bottom: 16px;
  }
}

.itemContainer:not(:last-child) {
  margin-right: 90px;

  @media screen and (max-width: $desktop) {
    margin-right: 5vw;
  }

  @media screen and (max-width: 1320px) {
    padding-right: 0;
  }

  @media screen and (max-width: $breakpoint_1050px) {
    margin-right: 1vw;
  }

  @media screen and (max-width: $breakpoint_767px) {
    margin-bottom: 25px;
    margin-right: 0;
  }

  @media screen and (max-width: $mobile) {
    padding: 12px 14px;
    min-height: 98px;
    margin-bottom: 16px;
  }
}

.title {
  color: $gray-title-color;
  text-align: center;
  font-size: 20px;
  line-height: 60%;
  letter-spacing: -0.4px;
  margin-bottom: 8px;

  @media screen and (max-width: 1720px) {
    font-size: 1vw;
  }

  @media screen and (max-width: $desktop) {
    font-size: 1.25vw;
  }

  @media screen and (max-width: $breakpoint_1050px) {
    font-size: 1.5vw;
  }

  @media screen and (max-width: $breakpoint_767px) {
    font-size: 22px;
    margin-bottom: 15px;
  }

  @media screen and (max-width: $breakpoint_574px) {
    font-size: 20px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 15px;
    margin-bottom: 5px;
    padding-left: 0;
  }
}

.occupiedPlace {
  display: flex;
  align-items: flex-start;

  @media screen and (max-width: $breakpoint_767px) {
    margin-bottom: 20px;
    align-items: center;
    min-width: 18vw;
    justify-content: space-between;
  }

  @media screen and (max-width: $mobile) {
    margin-left: 2px;
    margin-bottom: 17px;
    min-width: 70px;
  }

  .num {
    font-size: 60px;
    line-height: 100%; /* 60px */
    padding: 5px 20px;
    padding-bottom: 0;
    margin: 0 auto;

    @media screen and (max-width: 1720px) {
      font-size: 3vw;
    }

    @media screen and (max-width: $desktop) {
      font-size: 4vw;
      line-height: 4vw;
      padding: 5px 20px 0 20px;
    }

    @media screen and (max-width: 1320px) {
      padding: 5px 10px 0 10px;
    }

    @media screen and (max-width: $breakpoint_767px) {
      font-size: 10vw;
      padding-top: 15px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 40px;
      padding-right: 0;
      padding-left: 0;
      padding-top: 10px;
    }
  }

  .bracket {
    color: $pin-color;
    font-size: 60px;
    line-height: 90%;

    @media screen and (max-width: 1720px) {
      font-size: 3vw;
    }

    @media screen and (max-width: $desktop) {
      font-size: 4vw;
      line-height: 4vw;
    }

    @media screen and (max-width: $breakpoint_767px) {
      font-size: 10vw;
      line-height: 8vw;
    }

    @media screen and (max-width: $mobile) {
      font-size: 40px;
      line-height: 40px;
      // margin-left: 4px;
    }
  }
}

.imgContainer {
  width: 100%;
  height: 16px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: $breakpoint_767px) {
    height: 16px;
  }

  @media screen and (max-width: $breakpoint_574px) {
    margin-top: -13px;
  }
}

.description {
  font-size: 20px;
  line-height: 120%; /* 24px */
  letter-spacing: -0.6px;
  margin-left: 8px;
  padding-top: 20px;

  @media screen and (max-width: 1720px) {
    font-size: 1vw;
  }

  @media screen and (max-width: $desktop) {
    margin-left: 10px;
    padding-top: 22px;
    font-size: 1.115vw;
    margin-right: 10px;
  }

  @media screen and (max-width: $breakpoint_1150px) {
    margin-left: 5px;
    margin-right: 20px;
    padding-top: 10px;
    font-size: 1.25vw;
  }
  @media screen and (max-width: $breakpoint_1050px) {
    margin-right: 10px;
  }

  @media screen and (max-width: $breakpoint_767px) {
    font-size: 3.5vw;
    padding-top: 17px;
    letter-spacing: 0.6px;
    line-height: 130%; /* 19.2px */
    padding-right: 10px;
    margin-left: 15px;
  }

  @media screen and (max-width: $breakpoint_574px) {
    padding-top: 15px;
    font-size: 3.75vw;
  }

  @media screen and (max-width: $mobile) {
    padding-top: 10px;
    margin-left: 5px;
    font-size: 14px;
    letter-spacing: 0.75px;
    line-height: 140%;
  }
}
