.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: hotpink;
}

.chapterLink {
  margin-left: 25px;
  font-weight: 600;
  color: black;
  font-size: 18px;
}
